*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}


/* pill ui */
.window-pane {
    justify-content: space-between; /* Spaces children equally */
    background-color: #ffffff;
    width: calc(100% - 60px);
    margin: 30px auto; /* Shorthand to handle top and horizontal margins */
    border-radius: 20px;
    padding: 1px;
}

.click-btn {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--primary-color); /* Example button color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    transition-duration: 0.1s;
}

.click-btn:hover {
    background-color: var(--primary-color-hvr); /* Darker shade for hover effect */
}


@media (max-width: 650px) {
    .window-pane {
        flex-direction: column; /* Stack flex children vertically */
        height: auto; /* Adjust height to be auto to contain its children */
    }
}

@media (max-width: 400px) {
    .click-btn {
        width: 100px;
        margin: 10px;
        padding: 5px;
    }
    .window-pane {
        width: calc(100% - 20px);
    }
}




:root {
    --primary-color: #5ccbe7;
    --primary-color-hvr: #86d5e9;

    --bg-color: #b4e2fc;
}
